header {

   position: ;
    padding: 0;
    margin: 0;
}

.navigation-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // width: 100%;
    // height: 97px;
    // position: relative;
   
    display: flex;
    z-index: 2;
    width: 1141px;
    margin-left: 154px;
    margin-right: 150px;;
    // height: 100px;
    margin-top: 19px;
    background-color:;
    position: relative; 
}

.logo {

    margin-right: 131px;
}

.navigation {
  
   height: 80px;
    background-color:;
    display: flex;
    color: #191919;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 204px;

  

}

.navigation__item {
    text-decoration: none;
    color: red;
    margin-right: 35px;
    &:last-child {
        margin-right: 0;
    }


}

.navigation__link {

    color: blue;
    text-decoration: none;


}


.navigation li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    max-width: 100px;

}

.header__contact {
    z-index: 2;
    display: flex;
    align-items: center;
}



.header__contact_tel {
    margin-right: 55px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.req_call-btn {
  
color: #ffffff;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
    height: 55px;
    width: 178px;
    background: #cd3a0d;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.17);
border-radius: 3px;

}


.mobile {
    margin-right: 17px;
}



main {
    margin-left: auto;
    margin-right: auto;
position: ;
}

.main-wrapper { 

  margin-left: auto;
     margin-right: auto;
 position:;

   h1{

       color: #1f2837;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        margin-top: 127px;
        margin-bottom: 47px;
        margin-left: 153px;
        margin-right: ;
        position: ;
    }

    h2 {

     color: #191919;
        font-family: Oswald;
        font-size: 50px;
        font-weight: 500;
        margin: 0;
        margin-left: 153px;
        margin-right: ;
        position: ;

    }
}


.rectangle-main_blue {
position: absolute;
top:0;
right:0;
background:linear-gradient(to bottom, rgba(30,74,153,1) 64.7%,
rgba(30,87,153,1) 64.7%,
rgba(255,255,255,1) 64.7%);

//  background-color: #004b9a;
width: 609px;
height: 1165x;
 box-shadow: -25px 0 56px 12px rgba(0, 0, 0, 0.33);
margin-left: ;
margin-right: auto;





img {

width: 550px;
height: 766px;
// position: absolute;
// bottom: -500px;
margin-top: 121px;
}
}


.main__company_advantages {
    width: 1141px;
    height:auto ;
    margin-left: 150px;

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    z-index: 3;
    position: absolute; 

    margin-top: 100px;



    img {
     
    }

    h3 {

        color: #191919;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
    }

    p {
        color: #757575;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;

    }

}


.about {
position: ;
    display: flex;
    margin-top: 360px;
}


.activity_left_wrap {
margin-bottom: 189px;


    p {
margin-left: 154px;


    }
}


.about-wrapper {

  
   background: linear-gradient(to right,
    rgba(30,87,153,1) 57.8%,rgba(30,87,153,1) 57.8%,
    rgba(30,87,153,1) 57.8%,rgba(255,255,255,1) 57.8%); 

    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
} 


 //.blue {
  //  background: linear-gradient(to right,
   // rgba(30,87,153,1) 55.8%,rgba(30,87,153,1) 55.8%,
  //  rgba(30,87,153,1) 55.8%,rgba(255,255,255,1) 55.8%); 


//     width: 834px;
//     background-color: #004b9a;
//     position: absolute;

 //}



 .company_activity {
  
    width: 100%;
    height: 100%;
 }
.activity_left_wrap {
   
 
}

.activity {
    width: 582px;
    margin-left: 150px;
    margin-right: ;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -77px;


}

.pic_block {
    background-color:;

    p {

        margin-top: 25px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }


    img {

        box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.38);
        background-color: #000000;

    }
}


.video {
   align-content: center;
}

.main__right_wrap {

    align-content: center;
    align-items: center;
    margin-right: 145px;
    margin-top: 233px;
}

.play {
    position: ;

}

.main__right_wrap_item {

    color: #003399;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

.right_wrap__video {
    display: block;
    padding-left: 31%;
    padding-bottom: 47%;
    width: 231px;
}

.video__about_us {
    position: ;
    width: 100%;
    cursor: pointer;
}



.services {
   

    background-color: white;
    width: 100%;
    height: 400px;
    margin-top: 121px;



}

.services__block-pic {
    
    margin: auto;
    padding: auto;
    width: ;
    background-color: ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
    position: ;
    flex-direction: ;


    img {}

}



.services_title {
    opacity: 0.2;
    color: #1f2837;
    font-family: Oswald;
    font-size: 145px;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: -130px;
    top: ;
    margin-top: 100px;
    z-index: ;

    
    
}


.services_item_title {
    width: 85%;
    height: 28%;
    margin: 0;
    padding-left: 7%;
    padding-top: 2%;
    position: absolute;
    top: 14%;
    font-family: oswald;
    font-weight: 500;
    line-height: 21px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}


.services_item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: px;
    height: px;
    margin-bottom: 27px;
   
    margin-right: 30px;
    position: relative;

img {
width: 360px;
position:;
height: ;

}
}

.company_partners_title {

    color: #1f2837;
    font-family: Oswald;
    font-size: 45px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 99px;
}

.company-partners {
    display: flex;

   
}


.footer__social_nav {

    display: flex;

}

footer {
    background-color: #ebebeb;
}

.footer_wrapper {
    background-color: ;
    width: 1130px;

    background-color: ;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: space-between;
}

.footer__social_links {
    a {
        margin-right: 35px;
    }

}

.footer__social_nav {

    height: 80px;
    background-color:;
    display: flex;
    color: #191919;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 204px;


li {
    text-decoration: none;
    color: red;
    margin-right: 35px;
    &:last-child {
        margin-right: 0;
    }


}

a {

    color: #191919;
    text-decoration: none;
}
}

